body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(120, 161, 37);
  
}
img{
    border-radius:10px;
    position:fixed;
    width:420px;
    height:220px;
}

p{
    position: absolute;
}

.kun{
    position:fixed;
   color:white;
   font-size:20px;
   margin-left:20px;
    
}



.container {
    display: grid;
    position:fixed;
    margin-left: 65px;
    margin-top:30px;
    grid-template-columns: repeat(2, auto); 
    grid-template-rows: repeat(3, auto);    
    gap: 15px;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 3px solid #28a745;
    border-radius: 25px;
    padding: 8px 20px;
    color: #28a745;
    font-size: 10px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.icon {
    font-size: 24px;
    
}

.date {
    white-space: nowrap;
}
.madina{
    margin-top:230px;
    margin-left:10px;
}


.iconka{
    position:fixed;
    margin-top:20px;
    margin-left:380px;
    font-size:30px;
    cursor:pointer;
}


.box{
   
    border-radius:10px;
    background-color:white;
    width:420px;
    height:740px;

}




.container {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.card, .item-card {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #28a745;
    border-radius: 20px;
    padding: 5px 15px;
    color: #28a745;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
    background-color: #28a745;
    color: #ffffff;
    border-radius: 50%;
    padding: 5px 8px;
    margin-left: 10px;
    font-size: 14px;
}

.item-icon {
    font-size: 20px;
    margin-left: 15px;
}

.tarif-icon{
    margin-top:40px;
}

.heading {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.text, .item-text {
    white-space: nowrap;
}


.tarif{
    gap:30px;
    display: flex;
    margin-left:10px;
    width:250px;
    height:150px;
    border-radius: 20px;;
    background-color: #28a745;
}


button{
    margin-top:10px;
    margin-left:10px;
    background-color: #28a745;
    color: white;
    width:400px;
    height:60px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
